{% extends 'base.html' %}
{% load static %}
{% block content %}

  

  <!-- ======= Header/Navbar ======= -->
  {% include 'header.html' %}
  <!-- End Header/Navbar -->


  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Provide sites to advetise your business</h1>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  About
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= About Section ======= -->
    <section class="section-about">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 position-relative">
            <div class="about-img-box">
              <img src="{% static '/img/slide-about-1.jpg' %}" alt="" class="img-fluid">
            </div>
            <div class="sinse-box">
              <h3 class="sinse-title">Municipal Corporation<br> of Bathinda - 2003
              </h3>
            </div>
          </div>
          <div class="col-md-12 section-t8 about-content-mid-block position-relative">
            <div class="row align-items-end">
              <div class="col-md-7">
			  <img class="img-fluid" src="{% static '/img/logo.png' %}"/>
			  </div>
			  <div class="col-md-5">
			  <p class="color-text-a mb-0">
                 The Bathinda Municipal Corporation is a nagar nigam (municipal corporation) which administers the city of Bathinda, Punjab. 
			  </p>
			  </div>
              <div class="col-md-12 section-md-t3">
                <p class="color-text-a">
                It has 50 members elected with a first-past-the-post voting system and 1 ex-officio member which is MLA for Bathinda Urban. The corporation was founded 2003, and the first elections were held in 2005.The Bathinda Municipal Corporation is a nagar nigam (municipal corporation) which administers the city of Bathinda, Punjab. It has 50 members elected with a first-past-the-post voting system and 1 ex-officio member which is MLA for Bathinda Urban. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- =======Team Section ======= -->
    <section class="section-agents section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Authorities</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="card-box-team">
              <div class="card-img-team">
                <img src="{% static '/img/agent-7.jpg' %}" alt="" class="img-d img-fluid">
              </div>
              <div class="card-team">
                <div class="card-header-team">
                  <div class="card-title-team align-self-center">
                    <h6 class="title-team">
                      Sh.Rahul (IAS)
					  <br> Commissioner
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
		  <div class="col-md-3">
            <div class="card-box-team">
              <div class="card-img-team">
                <img src="{% static '/img/agent-7.jpg' %}" alt="" class="img-d img-fluid">
              </div>
              <div class="card-team">
                <div class="card-header-team">
                  <div class="card-title-team align-self-center">
                    <h6 class="title-team">
                      Sh.Rahul (IAS)
					  <br> Commissioner
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
		  <div class="col-md-3">
            <div class="card-box-team">
              <div class="card-img-team">
                <img src="{% static '/img/agent-7.jpg' %}" alt="" class="img-d img-fluid">
              </div>
              <div class="card-team">
                <div class="card-header-team">
                  <div class="card-title-team align-self-center">
                    <h6 class="title-team">
                      Sh.Rahul (IAS)
					  <br> Commissioner
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
		  <div class="col-md-3">
            <div class="card-box-team">
              <div class="card-img-team">
                <img src="{% static '/img/agent-7.jpg' %}" alt="" class="img-d img-fluid">
              </div>
              <div class="card-team">
                <div class="card-header-team">
                  <div class="card-title-team align-self-center">
                    <h6 class="title-team">
                      Sh.Rahul (IAS)
					  <br> Commissioner
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section-->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'footer1.html' %}
  <!-- End  Footer -->

  {% endblock content %}