{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= Property Search Section ======= -->
{% include 'header.html' %}
<div class="intro intro-carousel swiper position-relative">
  <div class="swiper-wrapper">
    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url({% static '/img/slide-1.jpg' %})">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">Doral, Florida
                    <br> 78345
                  </p>
                  <h1 class="intro-title mb-4 ">
                    <span class="color-b">204 </span> Mount
                    <br> Olive Road Two
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url({% static '/img/slide-2.jpg' %})">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">Doral, Florida
                    <br> 78345
                  </p>
                  <h1 class="intro-title mb-4">
                    <span class="color-b">204 </span> Rino
                    <br> Venda Road Five
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url({% static '/img/slide-3.jpg' %})">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">Doral, Florida
                    <br> 78345
                  </p>
                  <h1 class="intro-title mb-4">
                    <span class="color-b">204 </span> Alira
                    <br> Roan Road One
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div><!-- End Intro Section -->

<main id="main">

  <!-- ======= Services Section ======= -->
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Our Services</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-box-c foo">
            <div class="row">
              <div class="col-md-3">
                <div class="card-header-c d-flex">
                  <div class="card-box-ico">
                    <span class="bi bi-cart"></span>
                    <div class="card-title-c justify-content-center align-self-center">
                      <h2 class="title-c">Rent</h2>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-9">
                <div class="card-body-c">
                  <p class="content-c">
                    Lorem ipsum dolor sit amet consectetur. Viverra diam magna quis pharetra posuere vehicula.Lorem
                    ipsum dolor sit amet consectetur. Viverra diam magna quis pharetra posuere vehicula.Lorem ipsum
                    dolor sit amet consectetur. Viverra diam magna quis pharetra posuere vehicula.Lorem ipsum dolor sit
                    amet consectetur. Viverra diam magna quis pharetra posuere vehicula.Lorem ipsum dolor sit amet
                    consectetur. Viverra diam magna quis pharetra posuere vehicula.Lorem ipsum dolor sit amet
                    consectetur. Viverra diam magna quis pharetra posuere vehicula.Lorem ipsum dolor sit amet
                    consectetur. Viverra diam magna quis pharetra posuere vehicula.Lorem ipsum dolor sit amet
                    consectetur. Viverra diam magna quis pharetra posuere vehicula.Lorem ipsum dolor sit amet
                    consectetur. Viverra diam magna quis pharetra posuere vehicula.Lorem ipsum dolor sit amet
                    consectetur. Viverra diam magna quis pharetra posuere vehicula.Lorem ipsum dolor sit amet
                    consectetur. Viverra diam magna quis pharetra posuere vehicula.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

  <!-- ======= Latest Properties Section ======= -->
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Recomended Properties</h2>
            </div>
            <div class="title-link">
              <a href="{% url 'property_grid' %}">All Property
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="property-carousel" class="swiper">
        <div class="swiper-wrapper">
          {% for obj in properties_obj %}
          <div class="carousel-item-b swiper-slide">
            <div class="card-box-a card-shadow">
              {% for image in obj.property_image.all %}
              <div class="img-box-a">
                <img src="{{ image.image.url }}" alt="" class="img-a img-fluid">
              </div>
              {% endfor %}
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="{% url 'property_single' obj.id %}">{{obj.Name}}</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <a href="{% url 'property_single' obj.id %}" class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Size</h4>
                        <span>{{obj.size}}
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Type</h4>
                        <span>{{obj.type}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End carousel item -->
          {% endfor %}
        </div>
      </div>
      <div class="propery-carousel-pagination carousel-pagination"></div>

    </div>
  </section><!-- End Latest Properties Section -->

  <!-- ======= Latest News Section ======= -->
  <section class="section-news section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Latest Circulars</h2>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="circulars-items">
            <div class="circulars-item">
              <h4>Lorem ipsum dolor sit amet consectetur. Nec at consectetur purus dis rhoncus.</h4>
              <a href="{% static '/img/dummy.pdf' %}" target="_blank"><i class="bi bi-arrow-down-circle"></i></a>
            </div>
            <div class="circulars-item">
              <h4>Lorem ipsum dolor sit amet consectetur. Nec at consectetur purus dis rhoncus.</h4>
              <a href="{% static '/img/dummy.pdf' %}" target="_blank"><i class="bi bi-arrow-down-circle"></i></a>
            </div>
            <div class="circulars-item">
              <h4>Lorem ipsum dolor sit amet consectetur. Nec at consectetur purus dis rhoncus.</h4>
              <a href="{% static '/img/dummy.pdf' %}" target="_blank"><i class="bi bi-arrow-down-circle"></i></a>
            </div>
            <div class="circulars-item">
              <h4>Lorem ipsum dolor sit amet consectetur. Nec at consectetur purus dis rhoncus.</h4>
              <a href="{% static '/img/dummy.pdf' %}" target="_blank"><i class="bi bi-arrow-down-circle"></i></a>
            </div>
            <div class="circulars-item">
              <h4>Lorem ipsum dolor sit amet consectetur. Nec at consectetur purus dis rhoncus.</h4>
              <a href="{% static '/img/dummy.pdf' %}" target="_blank"><i class="bi bi-arrow-down-circle"></i></a>
            </div>
            <div class="circulars-item">
              <h4>Lorem ipsum dolor sit amet consectetur. Nec at consectetur purus dis rhoncus.</h4>
              <a href="{% static '/img/dummy.pdf' %}" target="_blank"><i class="bi bi-arrow-down-circle"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Latest News Section -->

  <!-- ======= Testimonials Section ======= -->
  <section class="section-testimonials section-t8 nav-arrow-a">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-center">
            <div class="title-box">
              <h2 class="title-a">Message from desk</h2>
            </div>
          </div>
        </div>
      </div>

      <div id="testimonial-carousel" class="swiper">
        <div class="swiper-wrapper">

          <div class="carousel-item-a swiper-slide">
            <div class="testimonials-box">
              <div class="row">
                <div class="col-md-12 text-center">
                  <div class="testimonial-author-box">
                    <img src="{% static '/img/mini-testimonial-1.jpg' %}" alt="" class="testimonial-avatar">
                    <h5 class="testimonial-author">Albert & Erika</h5>
                    <h6 class="testimonial-designation">Designation</h6>
                  </div>
                  <div class="testimonials-content">
                    <p class="testimonial-text">
                      Lorem ipsum dolor sit amet consectetur. Ut purus vitae quis in et justo pharetra nunc. Netus eros
                      id nullam dolor. Orci amet maecenas lectus lectus. Urna nec amet purus sed nam faucibus.
                      Sapien enim venenatis sit vel. Sit et egestas enim nunc morbi arcu. Gravida habitasse mauris sed
                      hendrerit. Nascetur sed tincidunt nibh ultricies sed quam ut nullam. Erat orci volutpat eget
                      dolor. At lacus arcu.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End carousel item -->
          <div class="carousel-item-a swiper-slide">
            <div class="testimonials-box">
              <div class="row">
                <div class="col-md-12 text-center">
                  <div class="testimonial-author-box">
                    <img src="{% static '/img/mini-testimonial-1.jpg' %}" alt="" class="testimonial-avatar">
                    <h5 class="testimonial-author">Albert & Erika</h5>
                    <h6 class="testimonial-designation">Designation</h6>
                  </div>
                  <div class="testimonials-content">
                    <p class="testimonial-text">
                      Lorem ipsum dolor sit amet consectetur. Ut purus vitae quis in et justo pharetra nunc. Netus eros
                      id nullam dolor. Orci amet maecenas lectus lectus. Urna nec amet purus sed nam faucibus.
                      Sapien enim venenatis sit vel. Sit et egestas enim nunc morbi arcu. Gravida habitasse mauris sed
                      hendrerit. Nascetur sed tincidunt nibh ultricies sed quam ut nullam. Erat orci volutpat eget
                      dolor. At lacus arcu.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End carousel item -->
          <div class="carousel-item-a swiper-slide">
            <div class="testimonials-box">
              <div class="row">
                <div class="col-md-12 text-center">
                  <div class="testimonial-author-box">
                    <img src="{% static '/img/mini-testimonial-1.jpg' %}" alt="" class="testimonial-avatar">
                    <h5 class="testimonial-author">Albert & Erika</h5>
                    <h6 class="testimonial-designation">Designation</h6>
                  </div>
                  <div class="testimonials-content">
                    <p class="testimonial-text">
                      Lorem ipsum dolor sit amet consectetur. Ut purus vitae quis in et justo pharetra nunc. Netus eros
                      id nullam dolor. Orci amet maecenas lectus lectus. Urna nec amet purus sed nam faucibus.
                      Sapien enim venenatis sit vel. Sit et egestas enim nunc morbi arcu. Gravida habitasse mauris sed
                      hendrerit. Nascetur sed tincidunt nibh ultricies sed quam ut nullam. Erat orci volutpat eget
                      dolor. At lacus arcu.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End carousel item -->
        </div>
      </div>
      <div class="testimonial-carousel-pagination carousel-pagination"></div>

    </div>
  </section><!-- End Testimonials Section -->
  <!-- start Contact Section -->
  <section class="contact section-t8" id="scroll">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-center">
            <div class="title-box">
              <h2 class="title-a">Complaints</h2>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-7">
              <form action="{% url 'complaint_form' %}" method="POST" role="form" ><!--class="php-email-form" -->
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control form-control-lg form-control-a"
                        placeholder="Your Name" required>
                    </div>
                  </div>
                    {% csrf_token %}

                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input name="email" type="email" class="form-control form-control-lg form-control-a"
                        placeholder="Your Email" required>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input name="phone" id="phone_number" type="number" class="form-control form-control-lg form-control-a"
                        placeholder="Phone Number" required  maxlength='12'>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input name="location" type="text" class="form-control form-control-lg form-control-a"
                        placeholder="Site number, location, type" required>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <input type="text" name="subject" class="form-control form-control-lg form-control-a"
                        placeholder="Subject" required>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea name="Description" class="form-control" cols="45" rows="6"
                        placeholder="Description about the complaint"></textarea>
                    </div>
                  </div>
                  <!-- <div class="col-md-12 my-3">
                    <div class="mb-3">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                  </div> -->
                  <div class="col-md-12 text-center">
                    <button type="submit" id="complaint_submit_id" class="btn btn-a" disabled>Send Message</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="icon-box section-b2">
                <div class="icon-box-icon">
                  <span class="bi bi-envelope"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Say Hello</h4>
                  </div>
                  <div class="icon-box-content">
                    <p class="mb-1">Email.
                      <span class="color-a">contact@example.com</span>
                    </p>
                    <p class="mb-1">Phone.
                      <span class="color-a">+54 356 945234</span>
                    </p>
                  </div>
                </div>location
              </div>
              <div class="icon-box section-b2">
                <div class="icon-box-icon">
                  <span class="bi bi-geo-alt"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Find us in</h4>
                  </div>
                  <div class="icon-box-content">
                    <p class="mb-1">
                      Manhattan, Nueva York 10036,
                      <br> EE. UU.
                    </p>
                  </div>
                </div>
              </div>
              <div class="icon-box">
                <div class="icon-box-icon">
                  <span class="bi bi-share"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Social networks</h4>
                  </div>
                  <div class="icon-box-content">
                    <div class="socials-footer">
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a href="#" class="link-one">
                            <i class="bi bi-facebook" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#" class="link-one">
                            <i class="bi bi-youtube" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
{% include 'footer1.html' %}
<!-- End  Footer -->

{% endblock content %}

{% block js %}
<script>


const phoneInput = document.getElementById('phone_number');
const complainBtn = document.getElementById('complaint_submit_id');

phoneInput.addEventListener('input', function() {
  if (this.value.length === 10) {
      complainBtn.disabled = false;
  } else {
      complainBtn.disabled = true;
  }
});




  function countryDropdown(seletor) {
    var Selected = $(seletor);
    var Drop = $(seletor + '-drop');
    var DropItem = Drop.find('li');

    Selected.click(function () {
      Selected.toggleClass('open');
      Drop.toggle();
    });

    Drop.find('li').click(function () {
      Selected.removeClass('open');
      Drop.hide();

      var item = $(this);
      Selected.html(item.html());
    });

    DropItem.each(function () {
      var code = $(this).attr('data-code');

      if (code != undefined) {
        var countryCode = code.toLowerCase();
        $(this).find('i').addClass('flagstrap-' + countryCode);
      }
    });
  }
  $(".send-otp-btn").click(function () {
    $(".first-step-modal-login").hide();
    $(".second-step-modal-login").show();
  });

  countryDropdown('#country');

  document.addEventListener("DOMContentLoaded", function (event) {

    function OTPInput() {
      const inputs = document.querySelectorAll('#otp > *[id]');
      for (let i = 0; i < inputs.length; i++) { inputs[i].addEventListener('keydown', function (event) { if (event.key === "Backspace") { inputs[i].value = ''; if (i !== 0) inputs[i - 1].focus(); } else { if (i === inputs.length - 1 && inputs[i].value !== '') { return true; } else if (event.keyCode > 47 && event.keyCode < 58) { inputs[i].value = event.key; if (i !== inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } else if (event.keyCode > 64 && event.keyCode < 91) { inputs[i].value = String.fromCharCode(event.keyCode); if (i !== inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } } }); }
    } OTPInput();
  });
</script>


{% endblock js %}