{% extends "base.html" %}

{% block content %}

<div class="container mt-5 pt-5 col-6">
    <form action="" method="post" id="id_phonenumber_form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="code" class="form-label">Country code</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="+91">IN(India)</option>
                <option value="+1">US(United State)</option>
            </select>
        </div>

        <div class="mb-3">
          <label for="number" class="form-label">Phone number</label>
          <input type="text"  name="phone_number" class="form-control" id="number" required>
        </div>
        <button type="submit" class="btn btn-primary">Send Otp</button>
      </form>
</div>

<div class="modal" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Enter Your Otp</p>
            <input type="text" id="otp-field" placeholder="Enter OTP">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Subit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}
{% block js %}
<script>
    $("#id_phonenumber_form").submit(function() {
        var phn = document.getElementById("number").value;
        debugger
        if(phn.length > 9){
            getSelectedValue(phn);
            return false;
        }else{
            alert("Invalid phone number!");
            return false;
        }
        return false;
    });
function getSelectedValue(phn) {
    $.ajax({
        method: "POST",
        url: "{% url 'send_otp' %}",
        headers: {"X-CSRFToken": "{{ csrf_token}}"},
        data: {"phone_number": phn},
        success: function(response){
            jQuery.noConflict();
            $('#modal').modal('show');

            // alert("OTP send")
        },
        error: function(error){
            alert("backend - Invalid Phone Number!")
        }
    })
    return false;
}



$(document).on("click", "#modal .btn-primary", function() {
    debugger

    var phn = document.getElementById("number").value;
    var otp = $("#otp-field").val();
    $.ajax({
        url: "{% url 'register' %}",
        method: "POST",
        headers: {"X-CSRFToken": "{{ csrf_token}}"},
        data: {'otp': otp,'phn':phn},
        success: function(data) {
            console.log(data);
        },
        error: function(error) {
            console.log(error);
        }
    });
});






</script>
{% endblock js %}