{% load static %}
<!-- Modal -->
<div class="modal fade" id="changepasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="form-group"> 
            <input type="text" class="form-control mb-3" placeholder="Current Password"> 
            <input type="text" class="form-control mb-3" placeholder="New Password"> 
            <input type="text" class="form-control mb-4" placeholder="Confirm Password"> 
            <button type="button" class="btn btn-primary w-100">Change Password</button>
        </div>
        </div>
    </div>
    </div>
</div>