{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">
        <!-- CONTAINER -->
        <div class="main-container container-fluid">
            <div class="row row-sm">
                <div class="col-lg-12 col-md-12">
                    <div class="card custom-card">
                        <div class="card-body">
                            <div class="main-header-center mb-4"> <input class="form-control" placeholder="Search..." type="search"> <button class="btn"><i class="bi bi-search"></i></button> </div>
                            <div class="table-responsive">
                                <table class="table border border-left-th text-nowrap text-md-nowrap mg-b-0">
                                    <thead>
                                        <tr>
                                            <th>S no</th>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Longitude</th>
                                            <th>Lattitude</th>
                                            <th>Discription</th>
                                            <th>image</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td></td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center"><a type="button" class="action-btn-sim" data-bs-toggle="modal" data-bs-target="#modifyModal">Modify</a><a class="action-btn-sim red" href="">Disble</a></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td></td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center"><a type="button" class="action-btn-sim" data-bs-toggle="modal" data-bs-target="#modifyModal">Modify</a><a class="action-btn-sim red" href="">Disble</a></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td></td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center"><a type="button" class="action-btn-sim" data-bs-toggle="modal" data-bs-target="#modifyModal">Modify</a><a class="action-btn-sim red" href="">Disble</a></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td></td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center"><a type="button" class="action-btn-sim" data-bs-toggle="modal" data-bs-target="#modifyModal">Modify</a><a class="action-btn-sim red" href="">Disble</a></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td></td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center"><a type="button" class="action-btn-sim" data-bs-toggle="modal" data-bs-target="#modifyModal">Modify</a><a class="action-btn-sim red" href="">Disble</a></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td></td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center"><a type="button" class="action-btn-sim" data-bs-toggle="modal" data-bs-target="#modifyModal">Modify</a><a class="action-btn-sim red" href="">Disble</a></td>
                                        </tr>   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        <!-- CONTAINER END -->
    </div>
</div>
<!--app-content end-->
{% endblock content %}
               