{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">
        <!-- CONTAINER -->
        <div class="main-container container-fluid">
            <div class="row row-sm">
                <div class="col-lg-12">
                    <div class="card custom-card">
                        <div class="card-body h-400">
                            <div class="row justify-content-center">
                                <div class="col-md-9">
                                    <div class="main-header-center mb-4 mw-100"> <input class="w-100 form-control" placeholder="Search..." type="search"> <button class="btn"><i class="bi bi-search"></i></button> </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- CONTAINER END -->
    </div>
</div>
{% endblock content %}
               